@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');



:root {
    --color-primary: #F03C42;
    --color-secundary: #222374;
    --color-white: #fff;
    --footer-color: #000000;
    --color-card: #CCCCCC;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, a:hover {
    color: unset;
    text-decoration: none;
}

header {
    background-color: var(--color-primary);
    height: 100px;
    display: flex;
    align-items: center;
    color: var(--color-white);    
}

nav h1 {    
    font-size: 18px;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.medias {    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.medias a {
    font-size: 14px;
    padding-left: 10px;
}

#looker-space {
    padding: 20px 0px ;
    background-color: var(--color-secundary);
    height: auto;
    padding: 20px;
}

.title-card {
    color: var(--color-white);
}

.title-card h2 {
    font-size: 32px;
    padding: 20px;
}

.card-space {
    background-color: var(--color-card);
    border-radius: 8px;
    margin-bottom: 20px;
    
}

.card-space h3 {
    padding-top: 20px;
    padding-left: 20px;
}

.card-space p {
    padding: 20px;
}